.cart-items {
	.cart-item {
		img {
			max-height: 19rem;
			object-fit: contain;
		}

		.card-body > .row > div,
		& img {
			height: 100%;
		}

		.input-group {
			max-width: 12rem;

			input {
				text-align: center;

				@include media-breakpoint-down(md) {
					max-width: unset;
				}
			}
		}
	}
}
