:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

#root {
	min-height: 100vh;
	/* min-width: 100%; */
	width: min(100%, 100%);
}

ul {
	list-style: none;
	padding-left: 0;
}

svg {
	height: 1.5rem;
	width: 1.5rem;
}

header {
	min-height: 3.5rem;
}

.products {
	display: grid;
	/* grid-template-columns: minmax(12.5rem, 15rem); */
	/* grid-template-columns: repeat(3, minmax(12.5rem, 15rem)); */
	/* grid-template-columns: repeat(3, minmax(16.25rem, 1fr)); */
	grid-template-columns: repeat(3, 1fr);
	gap: 1.5rem;
	scroll-margin: 8rem;
}

.products .card .card-img-top {
	max-height: 11.5rem;
	aspect-ratio: 9/16;
	object-fit: contain;
}

.cart-items .cart-item img {
	max-height: 19rem;
	object-fit: contain;
}

.cart-items .cart-item .card {
	/* max-height: 13.5rem; */
}

.cart-items .cart-item .card-body {
	/* max-height: 13rem; */
}

.cart-items .cart-item .card-body > .row > div,
.cart-items .cart-item .card-body > .row > div img {
	height: 100%;
}

.cart-items .cart-item .input-group {
	max-width: 12rem;
}

.cart-items .cart-item .input-group input {
	text-align: center;
}

aside.cart-aside {
	padding-left: 0;
}

.categories-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}

.categories-container a {
	text-decoration: none;
	color: unset;
}
.categories-container .card .card-body {
	min-height: 7rem;
}

.slick-slider {
	background-color: #fff;
}

.slick-slider .slick-track {
	display: flex;
	align-items: center;
}

.slick-slider img {
	max-height: 50dvh;
}

.slick-slider img.img-thumbnail {
	border: none;
	background-color: transparent;
}

.slick-slider h3 {
	color: #000;
}

@media screen and (max-width: 768px) {
	.filters .form-filter-container,
	.filters .form-filter-container input {
		width: 100% !important;
	}

	.cart-items .cart-item .input-group {
		max-width: unset;
	}
}

@media screen and (min-width: 992px) {
	aside.cart-aside {
		padding-left: 1.5rem;
	}
}
